/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0 0 0 0;
	list-style: none;
}
.sf-menu li {
	position: relative;
}
.sf-menu ul {
height: auto;
width: 100%;
	position: absolute;
	display: block !important;
	top:calc(100% + 50px);
	left: 0;
	opacity:0; visibility:hidden;
	z-index: 999; transition: all 400ms ease-in-out;
}
.sf-menu li:hover ul{ top:calc(100% + 10px); opacity:1; visibility:visible; transition: all 600ms ease-in-out; }

.sf-menu > li {
	float: left;
	display:block;
	padding:0 50px 0 0;
	margin:0;
	position: relative;

	
}

.sf-menu .sub-menu li:last-child{border:none; padding: 0; margin: 0;}
.sf-menu .sub-menu li a{position:relative; padding: 0 0 0 30px;}
.sf-menu .sub-menu li a:before{display:none;}
.sf-menu .sub-menu li{padding-right: 0px !important;position: relative;margin-bottom: 16px;padding-bottom: 13px !important;border-bottom: 1px solid rgba(255, 255, 255, 0.20);}
.sf-menu .sub-menu li:hover a{padding-left:0px !important;}
.sf-menu .sub-menu li:hover a:after{width:0px;}
.sf-menu .sub-menu li a:after{ content: ''; position: absolute; left:0px; transition: .6s ease-in-out;background: rgba(255, 255, 255, .7);width: 14px; height: 1px;top: 10px;opacity: 1; bottom: auto;right: auto;}

.sf-menu > li:last-child{ margin-right:0; }

.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}

/*** DEMO SKIN ***/
.sf-menu {
	float: none;
}
.sf-menu  {
  display:flex; justify-content:space-evenly; z-index:9; position:relative;
}
.sf-menu ul{

	box-shadow: 2px 2px 6px rgba(0,0,0,.2);
  min-width: 250px;
  *width: 12em;
  background: #0e6d9d;
    background-image: none;
  border-radius: 0 0 6px 6px !important;
  padding: 15px 13px 8px 13px !important;
  background-image: -moz-linear-gradient( -11deg, rgb(80, 129, 110) 0%, rgb(47, 73, 48) 100%);
  background-image: -webkit-linear-gradient( -11deg, rgb(80, 129, 110) 0%, rgb(47, 73, 48) 100%);
  margin-top:-8px;
}

.sf-menu a {
	font-size:17px; 
	color:#292929;
	line-height:22px;
	margin:0;
	text-decoration:none;
	transition:all 500ms ease-in-out;
	position:relative;
	letter-spacing: 0.04em;
	padding:10px 0px;
	position: relative;
}
/*.sf-menu a:before{content:''; width:0px; height:2px; background:#fff; position: absolute ; bottom:16px; left:0px; transition: all 400ms ease-in-out;}*/
.sf-menu .menu-item-has-children a::after{content: '';width: 13px;height: 13px;background: url(../images/down-arrow.png) no-repeat;position: absolute;right: -20px;top: 0;bottom: 0;margin: auto;background-size: 100%;}


.sf-menu li {
	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
	-webkit-transition:all .2s;
	transition: all .2s;
}

.sf-menu li:hover,
.sf-menu li.sfHover {
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}

.sf-menu li a:hover{ color:#03b5db ;}
.sf-menu li.active a{color:#03b5db ; }
/*.sf-menu ul li{ padding:0 !important; margin:0; }
.sf-menu ul li:last-child{ border:none; }
.sf-menu ul li a{ color:#fff !important; padding:10px 15px; background:transparent; }
.sf-menu ul li a:after{ display:none; }
.sf-menu ul li a:hover, .sf-menu ul li.active a{ color:#fff !important; background:#145585; }*/

.sf-menu ul.mega-menu li{ display:block; float:left; width:33.33%; padding:0 5px 8px; }




/************************************************************************************
MOBILE
*************************************************************************************/
@media screen and (max-width:1350px) {
	/*.sf-menu > li{ padding:0 50px 15px 0; }*/
}

@media screen and (max-width:1199px) {
	/*.sf-menu > li{ padding:0 35px 15px 0; }
	.sf-menu ul.mega-menu{ min-width:590px; padding:30px 10px 20px; left:-40px; }*/
	.sf-menu ul.mega-menu li a{ font-size:15px; line-height:17px; padding:15px 15px; }
	.sf-menu a{font-size:15px; line-height:17px;}
	.sf-menu .sub-menu li a{padding-left:25px;}
	.sf-menu .sub-menu li a::after{top:8px;}
}

@media screen and (max-width:991px) {
	.sf-menu > li{ margin:0 0; }
	/*.sf-menu > li { padding: 0 20px 0 0; }*/
	.sf-menu a { font-size: 14px; line-height: 16px; }
	.sf-menu a::before{height: 1px;}
}

@media screen and (max-width:){
    .sf-menu a { font-size: 10px; line-height: 12px; }
}

@media screen and (max-width:767px) {
 	.sf-menu > li{ width:100%; padding:2px 0 2px 0 ; }
	.sf-menu > li > a { font-size:15px; color:#fff; line-height:17px;  }
    .sf-menu > li > a > img { display: none; }
	
/* nav-wrap */
        #nav-wrap {
                position: relative;
		border:none;
		box-shadow:none;
		border-radius:3px;
		bottom:0px;
        }
 
/* menu icon */
        #menu-icon {
		background:url(../images/menu-icon.png) 50% 50% no-repeat; display:block; width:31px; height:31px; text-indent:-9999999em; padding:0; overflow:hidden; cursor:pointer; z-index:1000; position:absolute; top:-5px; left:20px;  
        }
		
.sf-menu > li:hover,
.sf-menu > li.sfHover {}
        #menu-icon.active {
                background:url(../images/menu-close.png) 50% 50% no-repeat;
        }
 
/* main nav */
	.sf-menu ul{display:block!important; visibility:visible!important; background:#2c58a8;}
        .sf-menu {
                clear: both;
                position:absolute;
                top:35px;
                width:166px;
                z-index: 10000;
                padding: 0 0 0 0;
                background: #223750;        
                display: none; /* visibility will be toggled with jquery */
				font-family: 'Bebas'; font-weight:400;
				left:12px;
                border-radius: 0 0 3px 3px;
                -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
                -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
                box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
                border-bottom: 2px solid #dcdcdc; 
        }
        .sf-menu li {
                clear: both;
                float: none;
                margin: 2px 0;
		background:none;
		border:none;
		border-bottom: 1px solid #0c2338;
        }
        .sf-menu li a span { padding-top: 0; }
	.sf-menu li ul{ background:none; box-shadow:none;}
	.sf-menu li a:hover{ color: #f22f59; margin-left: 5px;  }
	.sf-menu li:hover{ box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14),0 1px 18px 0 rgba(0,0,0,0.12),0 3px 5px -1px rgba(0,0,0,0.3); -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14),0 1px 18px 0 rgba(0,0,0,0.12),0 3px 5px -1px rgba(0,0,0,0.3); -moz-box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14),0 1px 18px 0 rgba(0,0,0,0.12),0 3px 5px -1px rgba(0,0,0,0.3); box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14),0 1px 18px 0 rgba(0,0,0,0.12),0 3px 5px -1px rgba(0,0,0,0.3); -o-box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14),0 1px 18px 0 rgba(0,0,0,0.12),0 3px 5px -1px rgba(0,0,0,0.3); } /* optional */

	.sf-menu li ul li a{ background:none !important; }
	.sf-menu li ul li a:hover{ background:none; text-decoration:underline;}
        .sf-menu a,
        .sf-menu ul a {
                font: inherit;
                background: none;
				transition: all 300ms ease-in-out;
				margin:0 0 1px 0;
				padding:6px 5% !important;
                display: block;
				width:100%;
                color: #fff;
                border: none;
				font-size:16px;
				line-height:18px;
				height:inherit;
				font-family: 'Raleway', sans-serif; font-weight:400;
				text-align: left;
				
        }
		.sf-menu a:hover{ text-decoration:none; }
        .sf-menu a:hover,
        .sf-menu > li > a:hover{ text-decoration:none; }
		.sf-menu a.active {
               background: none;
               color: #fff;
               
        }
 
        /* dropdown */
        .sf-menu ul {
                width: auto;
                position: static;
                display: block;
                border: none;
                background: inherit;
				
        }
        .sf-menu ul li {
                margin: 3px 0 3px 15px;
        }
		.sf-menu li ul li a{ background:none; font-size:15px; line-height:17px; padding:3px 10px; } 
}




